[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[packages]

"psycopg2" = "*"
django = "*"
djangorestframework = "*"
django-filter = "*"
python-dotenv = "*"
djangorestframework-simplejwt = "*"
django-extensions = "*"
weasyprint = "*"


[requires]

python_version = "3.6"


[dev-packages]

ipython = "*"
